
<nav class="nav article-nav">
  {% if page.next %}
	  <span class="article-nav-prev"><i class="fa fa-angle-double-left"></i> <a href="{{ page.next.url }}" rel="prev">{{ page.next.title }}</a></span>
  {% endif %}
  {% if page.previous %}
	  <span class="article-nav-next"><a href="{{ page.previous.url }}" rel="next">{{ page.previous.title }}</a><i class="fa fa-angle-double-right"></i></span>
  {% endif %}
</nav>
<style type="text/css">
  .article-nav {
      border-top: 1px solid #f2f2f2;
      background-color: #fbfbfb;
      overflow: hidden;
      padding: 15px 20px;
      font-size: 15px;
      color: #bbb;
  }

  .article-nav span.article-nav-next {
      float: right;
      text-align: right;
  }

  .article-nav span {
      float: left;
      position: relative;
      max-width: 50%;
  }
</style>
