<div class="row">
    <div class="col-md-12">
        <ul id="posts-list">
            {% for roadInfo in site.data.learningroadmap.learningroadmap %}
                {% if roadInfo != null %}
                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta">{{ roadInfo.date }}</span>
                        <a class="posts-list-name bubble-float-left" href="www.baidu.com">{{ roadInfo.description }}</a>
                        <span class='circle'></span>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Pagination -->
        {% include pagination.html %}

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>
