<div class="row">
    <div class="col-md-12">
        <ul id="posts-list">
            {% for roadInfo in site.data.learningroadmap.learningroadmap | sort:"date" %}
                {% if roadInfo != null %}
                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta"><strong>{{ roadInfo.date }}</strong></span>
                        <label class="posts-list-name bubble-float-left" style="font-size:20px;">{{ roadInfo.description }}</label>
                        <span class='circle'></span>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Pagination -->
        {% include pagination.html %}

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>
