<div class="card text-center">
    <ul class="list-inline" style="margin-left: 0;">
     <li>
        <a target="_blank" href="https://github.com/buildupchao">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.zhihu.com/people/zychao">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x fa-inverse">知</i>
          </span>
        </a>
      </li>
       <li>
        <a target="_blank" href="https://weibo.com/buildupchao">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
  </ul>
</div>

<!-- 精选文章 -->
<h3 class="sidebar-title">精选文章</h3>

{% for article in site.classes  %}
<div class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ article.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    <a href="{{ article.href }}" target="_blank">{{ article.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ article.describe }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- 开源软件 -->
<br/>
<!-- | limit: site.side_bar_repo_limit -->
<h3 class="sidebar-title">开源软件</h3>
{% assign repositories = site.data.repos.repositories %}
{% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse | where: "fork", "false" %}
{% for repository in repositories %}
{% for repo in sorted_repos %}
{% if repository == repo.name %}
<div class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ repo.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ repo.description }}</p>
            </div>
            <div class="card-text">
                <span data-toggle="tooltip" class="meta-info" title="{{ repo.stargazers_count }} stars">
                    <span class="octicon octicon-star"></span> {{ repo.stargazers_count }}
                </span>
                <span data-toggle="tooltip" class="meta-info" title="{{ repo.forks_count }} forks">
                    <span class="octicon octicon-git-branch"></span> {{ repo.forks_count }}
                </span>
                <span data-toggle="tooltip" class="meta-info" title="Last updated：{{ repo.updated_at }}">
                    <span class="octicon octicon-clock"></span>
                    <time datetime="{{ repo.updated_at }}" title="{{ repo.updated_at }}">{{ repo.updated_at | date: '%Y-%m-%d' }}</time>
                </span>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}

<!-- 分类目录 -->
<br/>
<h3 class="sidebar-title">分类目录</h3>

<div class="card" style="border-radius: 4px; border: 1px solid #ddd; overflow: hidden;">
    <ul class="list-group">
      {% assign categoryMap = site.data.categorymap %}
      {% for category in site.categories  %}
          <li class="list-group-item col-xs-6" style="border:0;margin: 0px 2px 0px 4px; width: 48%;">
              <h5 class="card-title" style="margin-top: 0px; margin-bottom:0px;">
                  {% if categoryMap contains category[0] %}
                    {% for holdCategory in categoryMap %}
                      {% if holdCategory[0]==category[0] %}
                        <a href="/category/{{ category[0] | downcase }}" target="_blank">{{ holdCategory[1] }}&nbsp;<span style="color: #C1BBC9;">({{ category[1].size }})</span></a>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <a href="/category/{{ category[0] | downcase }}" target="_blank">{{ category[0] }}&nbsp;<span style="color: #C1BBC9;">({{ category[1].size }})</span></a>
                  {% endif %}
              </h5>
          </li>
      {% endfor %}
    </ul>
</div>

<!-- 文章标签 -->
<br/>
<h3 class="sidebar-title">文章标签</h3>

<div class="card" style="border-radius: 4px; border: 1px solid #ddd; overflow: hidden;">
    <ul class="list-group">
      {% assign tagColors = site.data.tagcolors.colors; %}
      {% assign colorLength = tagColors | size; %}
      {% assign tagMap = site.data.tagmap; %}
      {% assign tags = site.tags %}
      {% for tag in tags  %}
      {% assign min = 1 %}
      {% assign max = 10 %}
      {% assign diff = max | minus: min %}
      {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
      {% assign select = randomNumber | modulo:colorLength %}
          <li class="list-group-item col-xs-6" style="margin: 2px 2px 2px 4px; width: 48%; background: {{ tagColors[select] }};">
              <h5 class="card-title" style="margin:0;">
                  {% if tagMap contains tag[0] %}
                    {% for holdTag in tagMap %}
                      {% if holdTag[0]==tag[0] %}
                        <a style="color: #FCF2F1;" href="/tag/{{ tag[0] | downcase }}" target="_blank">{{ holdTag[1] }}&nbsp;({{ tag[1].size }})</a>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <a style="color: #FCF2F1;" href="/tag/{{ tag[0] | downcase }}" target="_blank">{{ tag[0] }}&nbsp;({{ tag[1].size }})</a>
                  {% endif %}
              </h5>
          </li>
      {% endfor %}
    </ul>
</div>

<!-- 友情链接 -->
<!-- <br style="clear:both;" />
<h3 class="sidebar-title">友情链接</h3>

<div class="card text-center">
    <ul class="list-group">
      {% assign links = site.data.friendlinks.links %}
      {% for link in links  %}
          <li class="list-group-item">
              <h4 class="card-title">
                  <a href="{{ link['url'] }}" target="_blank">{{ link['name'] }}</a>
              </h4>
              <p>{{ link['description'] }}</p>
          </li>
      {% endfor %}
    </ul>
</div> -->

<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>
